@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("./fonts/Inter-roman.var.woff2?v=3.19") format("woff2");
}
@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: "Italic";
  src: url("./fonts/Inter-italic.var.woff2?v=3.19") format("woff2");
} */


body{
  background-color: #1C1C1C;
  font-family: "Inter var", sans-serif;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  font-variation-settings: normal;
}

.upgradeAction{
  background: rgb(255,255,255);
  background: linear-gradient(150deg, rgba(255,255,255,1) 0%, rgba(254,203,103,1) 25%, rgba(253,168,2,1) 100%);
}

.scrollbarDir{
  direction: rtl;
}

.directionLI{
  direction: rtl;
}

.main{
  -webkit-box-shadow: 3px 3px 20px 0px rgba(0,0,0,1);
  -moz-box-shadow: 3px 3px 20px 0px rgba(0,0,0,1);
  box-shadow: 3px 3px 20px 0px rgba(0,0,0,1);
}
